
.openedx-background {
    background-color: #be3b77;
    color: #ffffff;
    padding: 25px;
}

.openedx-background-2 {
    background-color: #22358c;
    color: #ffffff;
    padding: 25px;
}


.divider {
    margin-top: 15px;
    margin-bottom: 15px;
  }